.venv
proxy.txt
pythoncodes/skipped_data
pythoncodes/skipped_players.csv
raw_data/CSK_Data
raw_data/DC_Data
raw_data/GL_Data
raw_data/GT_Data
raw_data/Deccan_Chargers
raw_data/Kochi_Data
raw_data/LSG_Data
raw_data/PBKS_Data
raw_data/PWI_Data
raw_data/RPS_Data
raw_data/MI_Data
raw_data/RR_Data
raw_data/SRH_Data
raw_data/KKR_Data
raw_data/RCB_Data
pythoncodes/CSK_players_data.csv
pythoncodes/DC_players_data.csv
pythoncodes/GL_players_data.csv
pythoncodes/GT_players_data.csv
pythoncodes/deccan_players_data.csv
pythoncodes/Kochi_players_data.csv
pythoncodes/LSG_players_data.csv
pythoncodes/PBKS_players_data.csv
pythoncodes/PWI_players_data.csv
pythoncodes/RPS_players_data.csv
pythoncodes/MI_players_data.csv
pythoncodes/RR_players_data.csv
pythoncodes/SRH_players_data.csv
pythoncodes/KKR_players_data.csv
pythoncodes/auction_data
pythoncodes/auction_data